body {
    color: #fff;
    height: 100%;
	background-image: linear-gradient(#e6aa2b, #f7dda7);
}
head {
    color: #fff;
    height: 100%;
	background-image: linear-gradient(#e6aa2b, #f7dda7);
}

.link {
    color: white;

}